* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #111;
}

h1,
h3 {
    font-weight: 400;
}

.weather-app h3 {
    font-size: 3.5rem;


}

.weather-app {
    min-height: 100vh;
    background-image: url(https://1.bp.blogspot.com/-rqoHEKAokPM/Xvz2QKX2LoI/AAAAAAAAzD0/7F00bv0Tkac36a1RHAB2NisWDhjqznRDgCLcBGAsYHQ/w1600/sunset_clouds_sky_162370_3840x2160.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f1ecec;
    position: relative;
    transition: 500ms;
    opacity: 1;
    text-shadow: #090909 0 0 10px;
}

.weather-app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0, 0.3);
    z-index: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}

.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time,
.temp,
.weather {
    margin: 0 1em;
}

.city-time h1 {
    margin: 0;
    margin-bottom: 0.2rem;
    font-size: 2rem;
}

.temp {
    margin: 0;
    font-size: 7rem;
}

.weather img {
    display: block;
    margin: 0.5em 0;
}

.panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    padding: 3em 2em;
    overflow-y: scroll;
}

.panel-form {
    margin-bottom: 3em;
}

.submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background: #fa6d1b;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.4s;
}

.submit:hover {
    background: #fff !important;
    color: #fff;
}

.search {
    background: none;
    border: none;
    border-bottom: 1px #f6f4f4 solid;
    padding: 0 1em 0.5em 0;
    width: 80%;
    color: #0d0d0d;
    font-size: 1.1em;
}

.search:focus {
    outline: none;
}

.search:placeholder {
    color: #ededed;
}

.panel ul {
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #d7d2d2 solid;
}

.panel ul li {
    font-size: 20px;
    color: #e9e2e2;
    text-shadow: #090909 0 0 15px;
    margin: 2.5em 0;
}

panel ul h4 {
    margin: 3em 0;
}

.city {
    display: block;
    cursor: pointer;
}

.city:hover {
    color: #fff;
}

.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:800px) {

    .panel,
    .container {
        position: relative;
        width: 100%;
        top: initial;
    }
}

@media screen and (max-width:500px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:300px) {
    .weather-app {
        min-height: 40em;
    }
}